* {
  box-sizing: border-box
}
html, body {
  height: 100%;
  width: 100%;
}
#root, .App { 
  height: inherit;
  width: inherit;
}
.editor { 
 font-size: 24px;
}
.mockdown-output {
  background-color: #E9ECEF;
}